<div>
  <h1>
    Machine Learning Calculator
  </h1>
  <!-- metrics input -->
  <section class="input-group-center">
    <nz-input-number-group>
      <nz-input-number
        nzSize="large"
        nzPlaceHolder="TN"
      ></nz-input-number>
    </nz-input-number-group>
    <nz-input-number-group>
      <nz-input-number
        nzSize="large"
        nzPlaceHolder="FP"
      ></nz-input-number>
    </nz-input-number-group>
  </section>
  <section class="input-group-center">
    <nz-input-number-group>
      <nz-input-number
        nzSize="large"
        nzPlaceHolder="FN"
      ></nz-input-number>
    </nz-input-number-group>
    <nz-input-number-group>
      <nz-input-number
        nzSize="large"
        nzPlaceHolder="TP"
      ></nz-input-number>
    </nz-input-number-group>
  <!-- Result table -->
  </section>
  <section>
    <nz-table>
      <thead>
        <tr>
          <th>
            Metrics
          </th>
          <th>
            Sensitivity
          </th>
          <th>
            Specificity
          </th>
          <th>
            Precision
          </th>
          <th>
            Negative Predictive Value
          </th>
          <th>
            False Positive Rate
          </th>
          <th>
            False Discovery Rate
          </th>
          <th>
            False Negative Rate
          </th>
          <th>
            Accuracy
          </th>
          <th>
            F1 Score
          </th>
          <th>
            Matthews Correlation Coefficient
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>

        </tr>
      </tbody>
    </nz-table>
  </section>
</div>

